button{
    font-size: 1em;
}

button.recipe_weekend{
    font-size: 0.8em;
    margin-top: 1em;
}

select{
    font-size: 1.75em;
}

#select_food_cook{
    font-size: 1em;
}

/*Span*/
span.indicator_text{
    font-size: 0.8em;
    display: inline-block;
    width: 8em;
}

/*テーブル系*/
#result{
    margin-top: 1em;
}

table{
    border-collapse: collapse;
    border: 2px solid orange;
    margin-bottom: 2em;
}

td, th{
    border: 1px solid pink;
    text-align: left;
    vertical-align: top;
}

table thead tr th {
    color:black;
}

/*テーブル - クラスセレクタ*/
.table_sleep th{
    text-align: center;
}
.table_sleep td{
    text-align: center;
}
.table_sleep th:first-child{
    width: 5em;
}

.table_sleep th:nth-child(2){
    width: 3em;
}
.table_sleep th:nth-child(3){
    width: 7em;
}

/*テーブル(睡眠計算) - IDセレクタ*/
#quick table{
    border: 2px solid black;
}
#quick td, #quick th{
    border: 1px solid #002288;
}

#wakakusa table{
    border: 2px solid green;
}
#wakakusa td, #wakakusa th{
    border: 1px solid #AAAA00;
}
#weekend td{
    vertical-align: bottom;
}

#cyan table{
    border: 2px solid royalblue;
}
#cyan td, #cyan th{
    border: 1px solid cornflowerblue;
}


#taupe table{
    border: 2px solid #771100;
}
#taupe td, #taupe th{
    border: 1px solid #AA4400;
}


#uno table{
    border: 2px solid  #ff8eca;
}
#uno td, #uno th{
    border: 1px solid #FFAADD;
}


#rapiz table{
    border: 2px solid  #8899FF;
}
#rapiz td, #rapiz th{
    border: 1px solid #6677CC;
}




/*レシピのタグ*/
.recipe_title{
    font-size: 0.9em;
    width: 24em;
    margin-bottom: 0.5em;
    font-weight: 600;
}

.recipe_detail{
    display: flex;
}




/*イメージ*/
#berry_buttons, #food_buttons{
    border: 2px solid black;
    max-width: 470px;
    margin-top: -2px;
}

#berry_buttons img, #food_buttons img{
    width: 2em;
    height: 2em;
    margin: 4px;
}

img.tiny{
    width: 2em;
    height: auto;
}

img.ex-tiny{
    width: 1.5em;
    height: auto;

}

img.normal{
    width: 5em;
    height: 5em;
    padding-right: 0.5em;
    float: left;
}

img.field{
    width: 22%;
    max-width: 10em;
}

.current{
    background-color: yellow;
    color: red;
    font-weight: 700;
}

.input_short{
    width: 12em;
}

.target_highlight{
    background-color: #FAEEC8;
}

.result_alert{
    background-color: yellow;
    color:red;
    font-weight: 600;
}

.ingredients{
    list-style: none;
}

.button_set{
    font-size: 0.75em;
}