button{
    font-size: 1em;
}


select{
    font-size: 1.75em;
}


table{
    border-collapse: collapse;
    border: 2px solid orange;
}

td, th{
    border: 1px solid pink;
    text-align: left;
    vertical-align: top;
}


table thead tr th {
    color:black;
}

#wakakusa_table{
    border-collapse: collapse;
    border: 2px solid green;
}


#wakakusa_table td, #wakakusa_table th{
    border: 1px solid #AAAA00;
}


#cyan_table{
    border-collapse: collapse;
    border: 2px solid royalblue;
}


#cyan_table td, #cyan_table th{
    border: 1px solid cornflowerblue;
}


.table_sleep th{
    text-align: center;
}
.table_sleep td{
    text-align: center;
}
.table_sleep th:first-child{
    width: 5em;
}

.table_sleep th:nth-child(2){
    width: 3em;
}
.table_sleep th:nth-child(3){
    width: 7em;
}


.button_set{
    font-size: 0.75em;
}

img.tiny{
    width: 2em;
    height: 2em;
}

img.normal{
    width: 5em;
    height: 5em;
}
.current{
    background-color: yellow;
    color: red;
    font-weight: 700;
}

.input_short{
    width: 12em;
}

.target_highlight{
    background-color: #FAEEC8;
}

.result_alert{
    background-color: yellow;
    color:red;
    font-weight: 600;


}


